<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="mailBoxTestPF">
    <!--<suite thread-count="3" parallel="methods" name="mailBoxTestPF">-->
    <listeners>
        <listener class-name="com.epam.atm.utils.MyListener"/>
    </listeners>
    <test name="Test">
        <classes>
            <class name="com.epam.atm.tests.mailservice.MailBoxTestPF"/>
        </classes>
    </test>
</suite>
